{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block title %}
    <title>ALL BID LIST</title>
{% endblock %}    

{% block content %}
{% load static %}

<table class="table table-dark">
    <thead class="thead-dark">
      <tr>
        <th scope="col">BID ID</th>
        <th scope="col">AUCTION DETAILS</th>
        <th scope="col">BIDDER</th>
        <th scope="col">BID TIME</th>
        <th scope="col">BID AMOUNT</th>
        <th scope="col">UPDATE</th>
        <th scope="col">DELETE</th>
      </tr>
    </thead>
    <tbody>
    {% for i in object_list %}
      <tr>
        <td>{{i.bid_id}}</td>
        <td>{{i.auctiondetails}}</td>
        <td>{{i.bidder}}</td>
        <td>{{i.bid_time}}</td>
        <td>{{i.bid_amt}}</td>
          <td><button class="btn btn-warning"><a href="{% url 'updateallbid_url' i.bid_id %}">UPDATE</a></button></td>
          <td><button class="btn btn-danger"><a href="{% url 'deleteallbid_url' i.bid_id %}">DELETE</a></button></td>
      </tr>
      {% endfor %}
    </tbody>
  </table> 
{% endblock %}