{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block title %}
    <title>AUCTION DETAILS LIST</title>
{% endblock %}    

{% block content %}
{% load static %}

<table class="table table-dark">
    <thead class="thead-dark">
      <tr>
        <th scope="col">AUCTION DETAILS ID</th>
        <th scope="col">PRODUCT INFORMATION</th>
        <th scope="col">AUCTION DATE</th>
        <th scope="col">AUCTION START TIME</th>
        <th scope="col">AUCTION TIME SPAN</th>
        <th scope="col">UPDATE</th>
        <th scope="col">DELETE</th>
      </tr>
    </thead>
    <tbody>
    {% for i in object_list %}
      <tr>
        <td>{{i.auction_details_id}}</td>
        <td>{{i.product_information}}</td>
        <td>{{i.auction_details_date}}</td>
        <td>{{i.auction_start_time}}</td>
        <td>{{i.auction_time_span}}</td>
          <td><button class="btn btn-warning"><a href="{% url 'updatedetails_url' i.auction_details_id %}">UPDATE</a></button></td>
          <td><button class="btn btn-danger"><a href="{% url 'deletedetails_url' i.auction_details_id %}">DELETE</a></button></td>
      </tr>
      {% endfor %}
    </tbody>
  </table> 
{% endblock %}